.ticket-product {
  overflow: hidden;
  height: 80px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  display: flex;

  .ticket-product-image {
    height: 100%;
    width: 33%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .ticket-product-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 66%;

    .ticket-product-name {
      font-size: initial;
      display: flex;
      justify-content: space-between;

      .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
      }
    }

    .ticket-product-brand {
      font-size: smaller;
      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
      }
    }

    .ticket-product-footer {
      font-size: small;
    }
  }


}