.modal {
  .modal-card {
    width: 50%;
  }

  .modal-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .csv-information {
      text-align: center;
      max-width: 100%;
      margin-bottom: 15px;
    }

    .csv-reader {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .modal-card-foot {
    display: flex;
    justify-content: center;
    height: 25%;

    .upload-button {
      background-color: #f4e04d;
      border: none;
      border-radius: 5px;
      color: black;
      padding: 15px 5px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      margin: 10px 40px;
    }
  }
}