.facebook-button {
  margin-right: 10px;
  button {
    background-color: #365899;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }
}